.frame {
  border: 1px solid black;
  margin: 5px;
  background-color: white;
}

body {
  background-color: #f7ecdc;
}


.tenth-frame {
  border: 1px solid black;
  margin: 5px;
  background-color: white;
}

.final-score {
  border: 1px solid black;
  margin: 5px;
  background-color: white;
}

.bowl-score {
  border: .5px solid gray;
}

.scoreboard {
  display: flex;
  flex-direction: row;
}

.keypad {
  display: flex;
  flex-direction: row;
}

button {
  width: 70px;
  height: 70px;
  font-size: 2em;
  background-color: #c4d3ef;
  border: 2px solid black;
  margin: 10px;
}