div {
  border: 1px solid black;
  margin: 2px;
}

.scoreboard {
  display: flex;
  flex-direction: row;
}

.keypad {
  display: flex;
  flex-direction: row;
}

button {
  width: 40px;
  height: 40px;
}