.frame {
  border: 1px solid black;
  margin: 5px;
}

.tenth-frame {
  border: 1px solid black;
  margin: 5px;
}

.final-score {
  border: 1px solid black;
  margin: 5px;
}

.bowl-score {
  border: .5px solid gray;
}

.scoreboard {
  display: flex;
  flex-direction: row;
}

.keypad {
  display: flex;
  flex-direction: row;
}

button {
  width: 70px;
  height: 70px;
  font-size: 2em;
}